# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Entornos virtuales
env/
venv/
ENV/
.myenv/
.Python

# Archivos de configuración de entorno
*.env
.env.*
!.env.example

# Archivos de log y bases de datos locales
*.log
*.sqlite3
*.db

# IDEs y editores
.vscode/
.idea/
*.swp

# Archivos de sistema
.DS_Store
Thumbs.db

# PyInstaller
*.spec
dist/
build/

# Flask
instance/
*.pid
